<header>
    <div class="itemCabecera">
        <img src="/images/logo.png" alt="Mi Logo">
    </div>
    <div class="itemCabecera">
        <ul>
            <li class="itemLista">Login</li>
            <li class="itemLista">Logout</li>
        </ul>
    </div>
</header>