<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">


      <% if (locals.user != undefined) { %>
        <a class="navbar-brand" href="#">Bienvenido, <%= locals.user.name  %> </a>
       
        <a href="/usuario/<%= locals.user.id  %>">
          <img src="/images/usuarios/<%= locals.user.img  %>" alt="<%= locals.user.name  %>" style="width:50px">
        </a>
      <% } %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/movies">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/movies/register">Registrar Pelicula</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/register">Registrar Usuario</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/login">Iniciar Sesión</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/logout">Logout</a>
          </li>
          
        </ul>
        <form class="d-flex" action="/movies/busqueda" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="pelicula">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>